#login {
      
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0 auto;
    top: 125px;


}

#header {
    
    background-color:darkorange;
    width: 500px;
    position: absolute;
    text-align: center;
    right: 200px;
    padding: 10px;
    margin-top: 10px;

}


#wrapper {
    
    position: relative;
    top: 20px;
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
    background-color:darkcyan;
    clear: both;
    width: 900px;
    height: 462px;
    
}


#wrapper2 {
    
    position: relative;
    top: 20px;
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
    background-color:darkcyan;
    clear: both;
    width: 900px;
    height: 722px;
    
}


#rightBar {
    
    float:right;
    background-color: orange;
    height:400px;
    width:150px;
    margin:10px;
    
}

#leftBar {
    
    float:left;
    background-color:orange;
    height:400px;
    width:150px;
    margin:10px;
}

#rightBar2 {
    
    float:right;
    background-color: orange;
    height:660px;
    width:150px;
    margin:10px;
    
}

#leftBar2 {
    
    float:left;
    background-color:orange;
    height:660px;
    width:150px;
    margin:10px;
}

#footer {
    
    background-color:darkorange;
    position: absolute;
    text-align: center;
    padding: 2px;
    left: 0;
    right: 0;
    bottom: 0px;   
}


#content {
    
    position: absolute;
    left: 200px;
    padding: 10px;
    margin: 0 auto;
    top: 125px;
    
    
}



input[type=submit] {
    
    width:80px;
       
}


input[type=text] {
    
    background-color:orange;
    border: orange;
       
}


input[type=password] {
    
    background-color:orange;
    border: orange;
       
}
